/* Here is your custom css styles. */
*{
    cursor: url("/medias/Normal.cur"),auto!important;
}
:active{
    cursor: url("/medias/Normal.cur"),auto!important;
}

/* �޸���ҳ�ֲ��ı����С */ 
@media only screen and (max-width: 601px) {
    .bg-cover .title { 
        font-size: 2.5rem; 
    } 
} 

/* �޸Ĳ��ͱ���������С */ 
@media only screen and (max-width: 601px) { 
    header .brand-logo .logo-span { 
        font-size: 1.0rem; 
    }
}